.m-knowledge-scroll
  width 100%
  height 10px
  .m-knowledge-wrap
    width 100%
    .swiper-container
      width 90%
      height 12rem
      a
        width 100%
        height 12rem
        display block
        img
          width 100%
          height 12rem
        .img-text
          width 14rem
          height 6rem
          position absolute
          top: 3.5rem;
          left: 4rem;
          background #F0F1F0
          .one-text
            width 7rem
            height 2rem
            margin-top 1rem
            margin-left 4.5rem
            p
              font-size 12px
              display inline-block
            .line
              color #7e8c8d
              font-size 14px
              display inline-block


          .two-text
            display block
            font-size 1rem
            font-weight 900
            margin-left: 3rem
            margin-top -.5rem
            color  #404040
          .three-text
            display block
            font-size .7rem
            font-weight 700
            margin-left: 3rem
            margin-top .5rem
            color #939595


    .m-exploreChannels
      width 100%
      height 8rem
      margin-top 1.7rem
      border-bottom 1rem solid #F4F4F4
      box-sizing border-box

      .m-exploreChannels-list
        height 7rem
        white-space nowrap
        float left
        .m-exploreChannels-item
          width 5.5rem
          height 7rem
          display inline-block
          margin-left .8rem
          overflow hidden
          a
            width 100%
            height 5rem
            display inline-block
            .m-pic
              width 5rem
              height 5rem
              display inline-block
              img
                width 5.2rem
                height 5.2rem
                border-radius .4rem
            .m-text
              display block
              font-size 12px
              color white
              margin-top -5rem
              margin-left 1.5rem
            .m-titel
              display block
              font-size 14px
              margin-top 4.5rem
              margin-left 1rem
              color #404040
    .m-exploreRcmds
      width 100%
      overflow hidden
      .m-container
        width 90%
        overflow hidden
        margin-left 5%
        .m-header
          width 100%
          height 4rem
          font-size 1rem
          text-align center
          line-height 4rem
        .m-bottom
          width 100%
          height 17rem
          display block
          position relative
          border solid 1px #eee
          img
            width 100%
            height 11rem
          .m-exploreTag
            width 4rem
            height 1.5rem
            background #f5fffd
            border-radius .5rem
            line-height 1.5rem
            text-align center
            font-size .7rem
            position absolute
            top 1rem
            left 1rem
          .topicInfo
            width 100%
            height 5rem
            .line1
              width 90%
              height 2rem
              background lavenderblush
              margin-left 5%
              line-height 2rem
              .title
                float left
              .price
                float right
              span
                font-size 1rem
                color #4F4F4F
                display block

            .line2
              width 90%
              height 2rem
              margin-left 5%
              font-size .9rem
              color #7e8c8d
        .m-minorPosItem
          display block
          width 100%
          height 9rem
          border 1px solid #eee
          margin-bottom 1rem
          .item-left
            display inline-block
            width 50%
            overflow hidden
            .author
              width 90%
              height 3rem
              margin-left 5%
              img
                width 2.5rem
                height 2.5rem
                border-radius 50%
                vertical-align middle
              span
                font-size .5rem
                vertical-align middle
                color #4F4F4F
            .title-one
              width 90%
              height 2rem
              margin-left 5%
              margin-top .5rem
              font-size .9rem
              color #4F4F4F
              overflow hidden
              white-space nowrap
              text-overflow ellipsis
            .title-two
              width 90%
              height 3rem
              margin-left 5%
              font-size .7rem
              line-height 1rem
              color #4F4F4F
              white-space nowrap
              overflow hidden
              text-overflow ellipsis
          .item-right
            display inline-block
            position relative
            img
              width 9rem
              height 9rem
              margin-left .5rem
              border-radius .3rem
            .m-exploreTag
              width 4rem
              height 1.2rem
              background #fbf9ff
              border-radius .5rem
              line-height 1.2rem
              text-align center
              font-size .5rem
              position absolute
              top .5rem
              left .5rem
    .m-exploreTenFifteen
      width 100%
      height 13rem
      .inner
        height 12rem
        margin-left 5%
        white-space nowrap
        float left
        .innerItem
          display inline-block
          width 19.5rem
          margin-left .3rem
          height 11rem
          border #878c8d solid .3rem
          border-radius 2rem
          overflow hidden
          .line-title
            width 100%
            height 2rem
            text-align center
            margin-top 1.5rem
            span
              font-size 1rem
              display inline-block
            p
              display inline-block
              font-size .7rem
          .line-text-one
            width 100%
            height 2rem
            text-align center
            font-size 1.3rem
            color #4F4F4F
            font-weight 700
          .line-text-two
            width 100%
            height 2rem
            text-align center
            font-size .9rem
            color #4F4F4F
            margin-top 1rem

          .line-pic
            width 100%
            height 2rem
            text-align center
            img
              width 1.5rem
              height 1.5rem
              border-radius 50%
              vertical-align middle
            span
              font-size .7rem
              vertical-align middle