.headerTop
  position relative
  z-index 2
  background white
  .header
    width 96%
    height 4rem
    padding: .21333rem .4rem;
    overflow hidden
    margin-left 1%
    position relative
    .left
      display inline-block
      width 2rem
      height 3rem
      line-height 3rem
      margin-right 2rem
      i
        font-size 2rem
        color #7e8c8d
    a
      display inline-block
      width 6rem
      height 2rem
      margin-left 4rem
      font 1.5rem "微软雅黑"
      color black
      line-height 2rem
      text-align center
    .right
      display inline-block
      width 6rem
      height 3rem
      margin-left 2.2rem
      i
        font-size 2rem
        margin-right .5rem
        color #7e8c8d
