.wrap-home
  width 100%
  height 10px
  .home
    width 100%
    .content
      width 100%
      height 2rem
      .navWrap
        float left
        height 2rem
        white-space nowrap
        .item
          display inline-block
          width 2.4rem
          height 2rem
          margin-left  2rem
          span
            display inline-block
            width 2.4rem
            height 2rem
            margin-left  1rem
            font-size 16px
            line-height 2.3rem
            font-weight  700
            border-bottom rgba(0,0,0,0) solid 3px
            &.on
              border-bottom solid 3px #B9383D
              color #B9383D

    .swiper-container
      width: 100%
      height: 12rem
      img
        width 100%


    .ensure
      width 100%
      height 3rem
      text-align center
      line-height 2rem
      .item
        width 29%
        height .5rem
        display inline-block
        .textIcon
          width 2rem
          height 2rem
          img
            width 1rem
            height 1rem
        .ensureText
          font-size 12px
          margin-top -2rem


